<!DOCTYPE html>
<html>
    <head>
      <title> WebApp AIB</title>
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <div>
          <h1>Price Prediction</h1>
          <p>Artificial Intelligence for Business (AIB) Project.</p>
          
          <form action="{{ url_for('home') }}" method="post">
            <div class="row-wrap">
              <div class="input-box">
                <input type="number" name="bedrooms" required="required" value="{{ request.form['bedrooms'] }}">
                <label>Bedrooms</label>
              </div>
              <div class="input-box">
                <input type="number" name="bathrooms" required="required" value="{{ request.form['bathrooms'] }}">
                <label>Bathrooms</label>
              </div>
            </div>
            <div class="row-wrap">
              <div class="input-box">
                <input type="number" step="any" name="buildingarea" required="required" value="{{ request.form['buildingarea'] }}">
                <label>Building Area (ft&#178)</label>
              </div>
              <div class="input-box">
                <input type="number" step="any" name="landarea" required="required" value="{{ request.form['landarea'] }}">
                <label>Land Area (ft&#178)</label>
              </div>
              <div class="input-box">
                <input type="number" step="0.1" name="floor" required="required" value="{{ request.form['floor'] }}">
                <label>Number of Floor</label>
              </div>
            </div>

            <div class="row-wrap">
              <div class="input-box">
                <input type="number" min="1" max="5" name="condition" required="required" value="{{ request.form['condition'] }}">
                <label>Condition (1-5)</label>
              </div>
              <div class="input-box">
                <input type="number" min="1" max="13" name="grade" required="required" value="{{ request.form['grade'] }}">
                <label>Grade (1-13)</label>
              </div>
            </div>

            <div class="row-wrap">
              <div class="input-box">
                <input type="number" step="any" name="nbarea" required="required" value="{{ request.form['nbarea'] }}">
                <label>Non-Basement Area (ft&#178)</label>
              </div>
              <div class="input-box">
                <input type="number" step="any" name="barea" required="required" value="{{ request.form['barea'] }}">
                <label>Basement Area (ft&#178)</label>
              </div>
            </div>

            <div class="row-wrap">
              <div class="input-box">
                <input type="number" min="" max="" step="any" name="latitude" required="required" value="{{ request.form['latitude'] }}">
                <label>Latitude</label>
              </div>
              <div class="input-box">
                <input type="number" min="" max="" step="any" name="longitude" required="required" value="{{ request.form['longitude'] }}">
                <label>Longitude</label>
              </div>
            </div>
            <button type="submit" class="button-submit"><span>Predict </span></button>
          </form>
          <p> {{ prediction_text }} </p>
      </div>
    </body>
</html>